.git
.vscode
1_helloworld/build/*
!1_helloworld/build/main.gb
2_sprites/build/*
!2_sprites/build/main.gb
3_joypad/build/*
!3_joypad/build/main.gb
4_backgrounds/build/*
!4_backgrounds/build/main.gb
5_window/build/*
!5_window/build/main.gb
6_sounds/build/*
!6_sounds/build/main.gb
7_noise/build/*
!7_noise/build/main.gb
8_jumping/build/*
!8_jumping/build/main.gb
9_meta-sprites/build/*
!9_meta-sprites/build/9_meta-sprites.gb
10_sprite_collision_detection/build/*
!10_sprite_collision_detection/build/10_sprite_collision_detection.gb
11_background_collision_detection/build/*
!11_background_collision_detection/build/11_background_collision_detection.gb